/* * {
    font-family: "Times New Roman", "Arial";
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* @font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoItalic;
    src: url(../fonts/Roboto-Italic.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Black.ttf);
    font-weight: bold;
} */

/* * {
    font-family: Roboto;
}

h1 {
    font-family: Roboto;
}

p {
    font-weight: bold;
    font-style: italic;
} */